<div class="mainpage">
  <div class="header">
    <div class="rectangle-1"></div>
    <img class="menu-vertical" src="menu-vertical0.png" />
  </div>
  <div class="searchbox">
    <div class="search-box"></div>
  </div>
  <div class="text">
    <div class="zoil">Zoil</div>
    <div class="log-in">log in</div>
    <div class="where-farming-meets-future">
      Where
      <br />
      Farming meets Future
    </div>
  </div>
  <div class="footer">
    <div class="footerspace"></div>
    <div class="about">About</div>
  </div>
</div>
